{% extends 'layoutFront.twig' %}

{% block content %}
    <!-- Contact Form -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h2 class="section-heading" id="signin">Inscription</h2>
            </div>
            
            <div class="col-lg-6 col-md-4 mx-auto">  
                {% if session.success %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ session.success }}
                    </div>    
                {% endif %}
                {% if session.error %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ session.error }}
                    </div>    
                {% endif %} 
                {% if session.info %}
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <a href="account/resendsignin">Renvoyer un mail de confirmation</a>
                    </div>    
                {% endif %} 
                         
                <form method="post" action="account/signin" name="sentSignin" id="signinForm" class="needs-validation" novalidate>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                        <label>Login</label>
                        <input name="login" type="text" class="form-control" placeholder="Login" id="login" required data-validation-required-message="Entrez votre nom.">
                        <div class="invalid-feedback">Entrez un pseudo valide.</div>
                        <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                        <label>Mot de passe</label>
                        <input name="password" type="password" class="form-control" placeholder="Mot de passe" id="password" required data-validation-required-message="Entrez votre mot de passe.">
                        <div class="invalid-feedback">Entrez un mot de passe valide.</div>
                        <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                        <label>Confirmation</label>
                        <input name="confirm" type="password" class="form-control" placeholder="Confirmation" id="confirm" required data-validation-required-message="Confirmez votre mot de passe.">
                        <div class="invalid-feedback">Les mots de passe ne correspondent pas.</div>
                        <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                        <label>Email</label>
                        <input name="email" type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Entrez votre adresse email.">
                        <div class="invalid-feedback">Entrez email valide.</div>
                        <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group form-inline justify-content-center">
                        <a href="account/login" class="btn btn-primary">Annuler</a>
                        <button type="submit" class="btn btn-primary" id="sendLoginButton">Envoyer</button>
                    </div>
                    <input type="hidden" name="token" id="token" value="{{ token }}"/>
                </form>
                <script>
                    // starter JavaScript for disabling form submissions if there are invalid fields, from bootstrap4 doc
                    (function() {
                    'use strict';
                    window.addEventListener('load', function() {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function(form) {
                        form.addEventListener('submit', function(event) {
                            if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                        });
                    }, false);
                    })();
                </script>
                <script>    
                    var password = document.getElementById("password"), confirm_password = document.getElementById("confirm");
                    function validatePassword(){
                        if(password.value != confirm_password.value) {
                            confirm_password.setCustomValidity("Les mots de passe ne correspondent pas");
                        } else {
                            confirm_password.setCustomValidity('');
                        }
                    }
                    password.onchange = validatePassword;
                    confirm_password.onkeyup = validatePassword;      
                </script> 
            </div>
        </div>
    </div>

{% endblock %}